/* @group Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clear {
  clear: both;
}

/* @end */

body {
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.container {
  width: 700px;
  margin: 50px auto;
}

header {
  margin-bottom: 20px;
}

header h1 {
  font-weight: 600;
  float: left;
  display: inline-block;
}

header ul {
  float: right;
  text-align: right;
}

header ul li {
  display: inline-block;
  margin-left: 10px;
}

a {
  color: #38d;
  text-decoration: none;
}

h2 {
  font-size: 26px;
  text-align: center;
  font-weight: 600;
  line-height: 2;
}

p {
  margin-bottom: 15px;
}

section {
  margin-top: 20px;
}

.image {
  position: relative;
}

.image img {
  max-width: 100%;
}

.photo-credit {
  color: rgba(255,255,255,.5);
  font-size: 12px;
  text-align: right;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.exec {
  line-height: 1.2;
  margin: 20px 0 0;
  text-align: center;
}

.exec li {
  display: inline-block;
  margin: 0 30px;
}

.exec h3 {
  font-weight: 600;
}

.exec h4 {
  font-style: italic;
}

.sticker {
  text-align: center;
}


@media screen and (max-width: 700px) {
  .container {
    margin: 20px;
    width: auto;
  }

  .exec li {
    margin: 0 10px 10px;
  }
}
